@(title: String)

@main(title) {
  <h1>@title!</h1>
  <div class='info left wide'>
  </div>
  <div id='rolled' class='info left wide'>
    <div class='info left'>
      <button id='d100'>100</button>
      <button id='d20'>20</button>
      <button id='d12'>12</button>
      <button id='d10'>10</button>
      <button id='d8'>8</button>
      <button id='d6'>6</button>
      <button id='d4'>4</button>
      <button id='d3'>3</button>
    </div>
    <div class='left oneforth'>
      <select id='tables' size='12' class='left wide'>
      </select>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <select id='words' size='12' class='left wide'>
      </select>
    </div>
    </div>
    <button id='clear'>Clear</button>
    <div id='rolls' class='info left half'>
    <button id='clearTableRolls' class='left'>Clear</button>
    <button id='copyTableRolls' class='left'>Copy</button>
    <div id='tableRolls' class='info left threefourths' ></div>
  </div>

}
